h1 {
  font-family: $serif;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-list h2, .col-1-3 h2 {
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.news-list h2:hover, .col-1-3 h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.col-1-3 h2 {
  text-align: center;
}

.col-1-2 h2 {
  text-align: left;
}

.sub-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-list li {
  margin-top: 10px;
}

.author {
  color: $gray;
  font-size: 14px;
  margin-bottom: 10px;
}
.curriculum {
  padding-left: 20px;
}
.curriculum li {
  list-style: disc;
  margin-bottom: 10px;
}
.comment-link {
  font-family: $sans-serif;
  color: $blue;
  font-size: 10px;
}

.comment-link:hover {
  text-decoration: underline;
}

.warning {
  margin-top: 10px;
  font-size: 14px;
}

input {
  flex: 1;
  padding: 9px;
  color: $gray;
  border: 1px solid gray;
}

.sign-up-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.email-form {
  display: flex;
  width : 100%;
  align-items: center;
  justify-content: center;
}

.opinion-list {
  font-weight: bold;
  list-style: disc;
  padding: 15px;
}

.opinion-list li {

  margin-bottom: 5px;
}

.opinion-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.thumbnail {
  height: 100px;
}

.opinion {
  font-weight: bold;
}

p {
  padding-bottom: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
